.common-tabs {

}

.common-tabs__menu {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: 6px solid #f5f5f5;

  @include mq-max(767px) {
    justify-content: center;
  }
}

.common-tabs__item {
  margin-bottom: -6px;
}

.common-tabs__link {
  display: block;
  padding: 6px 12px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-decoration: none;
  text-align: center;
  color: #bdbdbd;
  border-bottom: 6px solid transparent;
  user-select: none;
  transition: $duration * 1.5;

  &:hover,
  &:focus {
    color: $muted-color;
    // border-bottom-color: #e0e0e0;
  }

  .active & {
    color: $base-color;
    border-bottom-color: #e0e0e0;
  }

  @include mq-min(568px) {
    font-size: 26px;
  }
}

.common-tabs__pane {
  padding-top: 20px;
}
