.index-slider {
  position: relative;

  .slick-dots {
    @include clear-list();

    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: center;

    li {
      margin-right: 0.5em;

      &:last-child {
        margin-right: 0;
      }
    }

    button {
      display: block;
      padding: 0;
      overflow: hidden;
      width: 10px;
      height: 10px;
      border: 2px solid transparent;
      background-color: #ffffff;
      text-indent: -1000px;
      background-clip: content-box;
      border-radius: 50%;
      outline: none;
      opacity: 0.5;
      cursor: pointer;
      user-select: none;
    }

    .slick-active button {
      cursor: default;
      border-color: #ffffff;
      opacity: 1;
    }

  }
}

.index-slider__item {
  @include make-fit-object(7,8);

  width: 100%;
  background-color: #757575;
  max-height: 78vh;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgba(#000000, 1), rgba(#000000, 0) 50%);
    opacity: 0.5;
  }

  @include mq-min(568px) {
    @include make-fit-object(16, 10);
  }
}

.index-slider__rating {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  right: 15px;
}
