.index-partners {
  padding-top: 40px;
  padding-bottom: 40px;
}

.index-partners__inner {

}

.index-partners__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 27px;
  text-align: center;
}

.index-partners__slider {

}
