.main-nav {

}

.main-nav__list {
  @include clear-list();

  display: flex;
  align-items: center;

  a {
    position: relative;
    display: block;
    padding: 7px 10px;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    transition: $duration * 1.5;
    opacity: 0.8;
    user-select: none;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      left: 10px;
      right: 10px;
      bottom: 5px;
    }

    &:hover,
    &:focus {
      color: #ffffff;
      opacity: 1;
    }

    .is-main-header-sticky &,
    .is-not-featured-picture:not(.homepage) & {
      color: $base-color;

      &:hover,
      &:focus {
        color: $base-color;
      }
    }
  }

  .current-menu-item a {
    // color: $accent-color !important;
    opacity: 1;
    cursor: default;

    &::before {
      background-color: currentColor;
    }
  }
}
