.mass-media {

}

.mass-media__list {
  @include clear-list();

  @include mq-min(768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
}

.mass-media__item {
  margin-bottom: 30px;

  @include mq-min(768px) {
    margin-bottom: 0;
  }
}
