.mass-media-post {
  line-height: 1.15;
  font-weight: 300;
}

.mass-media-post__date {

}

.mass-media-post__title {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
}

.mass-media-post__text {
  font-size: 16px;
}

.mass-media-post__source {
  font-size: 16px;
}
