.mobile-nav {

}

.mobile-nav__list {
  @include clear-list();

  a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: rem(32);
    color: $base-color;
    text-decoration: none;
    text-align: center;
  }

  .current-menu-item a {
    color: $accent-color;
  }
}
