.one-feed-news {

}

.one-feed-news__wraplink {
  position: relative;
  display: block;
  font-weight: 300;
  line-height: 1.15;
  color: #ffffff;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to top, rgba(#000000, 1), rgba(#000000, 0));
    opacity: 0.5;
    transition: $duration * 3;
  }

  &:hover,
  &:focus {
    color: #ffffff;

    &::before {
      opacity: 0.7;
    }
  }
}

.one-feed-news__picture {
  @include make-fit-object(690, 500);

  @include mq-range(568px, 1023px) {
    .one-feed-news:first-child &::before {
      padding-top: 55%;
    }
  }
}

.one-feed-news__content {
  position: absolute;
  bottom: $gutter / 2;
  left: $gutter / 2;
  right: $gutter / 2;
  z-index: 1;
}

.one-feed-news__title {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
}

.one-feed-news__text {
  display: none;
  font-size: 16px;

  @include mq-min(568px) {
    .one-feed-news:first-child & {
      display: block;
    }
  }
}
