.one-news-page {

}

.one-news-page__header {
  position: relative;
}

.one-news-page__entry {
  position: absolute;
  left: 0;
  right: 0;
  color: #ffffff;
  bottom: 50px;
}

.one-news-page__category {
  display: block;
  margin-bottom: 10px;
}

.one-news-page__date {
  display: block;
  margin-bottom: 50px;
  font-size: 16px;
}

.one-news-page__title {

}
