.preview-news {
  @include clear-list();

  @include mq-min(568px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.preview-news__item {
  width: 100%;
  margin-bottom: $gutter;

  @include mq-range(568px, 767px) {
    @include calc-column-width(2);
  }

  @include mq-min(768px) {
    @include calc-column-width(3);
  }
}
