.short-biography {

}

.short-biography__title {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 22px;
}

.short-biography__list {
  @include clear-list();

  color: $muted-color;
  font-size: 16px;
  line-height: 1.2;

  li {
    margin-bottom: 5px;
  }

  b {
    font-weight: 500;
    color: $base-color;
  }
}
